/*http://www.colourlovers.com/palette/3598986/Kindergarten with #e2db5c*/

body {
    overflow: auto;
    position: relative;
    padding:0px;
    margin:0px;
    background: #ff5f57; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff5f57 0%, #e2db5c 50%, #ff5f57 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff5f57), color-stop(50%,#e2db5c), color-stop(100%,#ff5f57)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff5f57 0%,#e2db5c 50%,#ff5f57 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff5f57 0%,#e2db5c 50%,#ff5f57 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff5f57 0%,#e2db5c 50%,#ff5f57 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ff5f57 0%,#e2db5c 50%,#ff5f57 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5f57', endColorstr='#ff5f57',GradientType=0 ); /* IE6-9 */

    min-width: 800px;
}
.picture {
    /*background: white;*/
    height: 200px;
    padding: 0px;
    margin: 0px 5% 0px 5%;
    border: 0px solid black;
}

.picture h2 {
    text-align: center;
    padding:0px;
    margin:0px;
}

header {
    position: absolute;
    background-color:rgba(0,0,0,0.5);
    color: white;
    height: 50px;
    padding: 0px;
    margin: 0px;
    top: 150px;
    width: 100%;
    /*margin:0px 100px 0px 5%;*/
    
}
header.fix-header {
    min-width: 650px;
    width: 100%;
    background-color:rgba(0,0,0,1);
    position: fixed;
    top: 0px;     
}

nav
{
    /* background: red; */
    text-align:right;
    padding:15px 20px;
    margin-right:10%;
}
nav a
{
    font-family: 'Montserrat', sans-serif;
    font-size:25px;
    /* margin:10px 0; */
    /* height:50px; */
    padding:15px 10px;
    color:white;
    text-decoration:none;
}
nav a:hover
{
    color:#e2db5c;
}

.section {
    color: white;
    height: 1000px;
    margin: 50px 5% 50px 5%;
    border-radius: 100px;
}

#about {
    background: #FF9537;
    background: rgba(255,149,55,0.75);
}

#skills {
    background: #4CBDBD;
    background: rgba(76,189,189,0.75);
}

#projects {
    background: #D779DA;
    background: rgba(215,121,218,0.75);
}



