@media (max-width: 1100px) {
  .small-hidden {
    display: none !important;
  }
  .project {
      width: 90%;
  }
  .subtitle {
      display: none;
  }
  header {
      display: none !important;
  }
}

body {
    overflow: auto;
    position: relative;
    padding: 0;
    margin: 0;
    background: #000000;
    /* Old browsers */

    /*min-width: 1000px;*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: black;
}

#backgroundImage {
    z-index: -999;
    min-height: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    background:
    /* top, transparent red */
    linear-gradient( rgba(0, 121, 107, 0.6), rgba(0, 121, 107, 0.6) ),
    /* bottom, image */
    url(../img/backgrounds/background11.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.picture {
    /*background: white;*/

    position: relative;
    height: 300px;
    padding: 0;
    margin: 0 0% 0 0%;
}

.picture > img {
    text-align: center;
    padding: 0;
    margin: 0;
}

.picture > h2 {
    text-align: center;
    padding: 0;
    margin: 0;
}

#titlePicture {
    min-height: 600px;
    height: 100vh;
    margin: 0;
    background:
    /* top, transparent red */
    linear-gradient( rgba(63, 81, 181, 0.75), rgba(62, 81, 181, 0.45) ),
    /* bottom, image */
    url(../img/heading.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#titlePicture .title {
    top: 100px;
}

#titlePicture .subtitle {
    top: 250px;
}

header {
    position: absolute;
    color: black;
    height: 50px;
    padding: 0;
    margin: 0;
    top: 500px;
    width: 100%;
    z-index: 1000;
    /*min-width: 1000px;*/
    /*overflow:hidden;*/
    /*margin:0px 100px0 5%;*/
}

.fix-header {
    width: 100%;
    position: fixed;
    top: 0;
}

.title {
    position: absolute;
    width: 100%;
    top: 50px;
    color: #EEEEEE;
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.subtitle {
    position: absolute;
    color: #DDDDDD;
    width: 100%;
    top: 350px;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}

.headertitle {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    color: white;
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
}

div .down-arrow {
    color: rgba(255, 255, 255, 0.9);
    font-size: 100px;
    line-height: 100px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
}


.down-arrow:hover {
    color: rgba(255, 255, 255, 0.5);
}

.fill {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.navBar {
    width: calc(100% - 10px);
    height: 50px;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.8);
    padding-left: 10px;
    /*min-width: 990px;*/
    white-space: nowrap;
    text-align: center;
}

.button {
    position: relative;
    display: inline-table;
    height: 100%;
    color: #999;
    font-size: 12pt;
    font-weight: bold;
    /*float: left;*/
    max-width:15%;
    overflow-y: hidden;
}

.button-cell {
    vertical-align: middle;
    display: table-cell;
    text-align: right;
    padding-right: 20px;
    /*margin-right:10%;*/

    overflow: hidden;
}

.button-cell > a {
    /*position: relative;*/

    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    padding: 15px 10px;
    color: black;
    text-decoration: none;
    font-weight: 400;
}

.button-cell > a:hover {
    color: #EE1C01;
    cursor: pointer;
    cursor: hand;
}

.no-wrap {
    white-space: nowrap;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 999;
    min-width: 100%;
    padding-top: 10px;
}

.dropdown > .button {
    padding-bottom: 10px;
    padding-left: 5px;
}

.dropButton {
    opacity: 0;
}

.section {
    color: white;
    height: auto;
    margin: 0 0%0 0%;
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
}

.section h1 {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

#about {
    background: #B6B6B6;
}

#skills {
    background: #B6B6B6;
}

#projects {
    background: #B6B6B6;
}

#contact {
    background: #B6B6B6;
    padding: 20px;
}
/*About Me section*/

.circle {
    height: 300px;
    width: 300px;
    border-radius: 150px;
    margin: 0px auto;
    text-align: center;
    display: block;
    border-color: white;
    border-width: 5px;
    border-style: solid;
}

#about > p {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    max-width: 650px;
    padding: 20px 0 20px 0;
    color: #212121;
}

#about > p > span,
#about > p > a {
    color: #3F51B5;
    font-weight: 700;
}
/*equal spacing div, used in skills and projects*/

.container {
    text-align: center;
    margin: 0 30px 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container div {
    display: inline-block;
    vertical-align: top;
}
/*Skills section*/

.skillsList {
    text-align: left;
}

.skillsList li {
    background: no-repeat 00;
    padding-left: 60px;
    line-height: 50px;
    font-size: 30px;
    margin-top: 14px;
    list-style: none;
    color: #212121;
    /*background-size: 50px 50px; /*height set to 50px*/
}

#web {
    /*padding: 20px;*/
}

#web li:nth-child(1) {
    background: url('../img/html.png') no-repeat 0;
}

#web li:nth-child(2) {
    background: url('../img/css.png') no-repeat 0;
}

#web li:nth-child(3) {
    background: url('../img/javascript.png') no-repeat 0;
}

#web li:nth-child(4) {
    background: url('../img/angular.png') no-repeat 0;
}

#web li:nth-child(5) {
    background: url('../img/backbone.png') no-repeat 0;
}

#web li:nth-child(6) {
    background: url('../img/marionette.png') no-repeat 0;
}

#programming {}

  #programming li:nth-child(1) {
      background: url('../img/nodejs.png') no-repeat 0;
  }

#programming li:nth-child(2) {
    background: url('../img/python.png') no-repeat 0;
}

#programming li:nth-child(3) {
    background: url('../img/c++.png') no-repeat 0;
}

#programming li:nth-child(4) {
    background: url('../img/java.png') no-repeat 0;
}

#programming li:nth-child(5) {
    background: url('../img/arduino.png') no-repeat 0;
}

#programming li:nth-child(6) {
    background: url('../img/raspi.png') no-repeat 0;
}

#design {}

#design li:nth-child(1) {
    background: url('../img/photoshop.png') no-repeat 0;
}

#design li:nth-child(2) {
    background: url('../img/solidworks.png') no-repeat 0;
}

#design li:nth-child(3) {
    background: url('../img/illustrator.png') no-repeat 0;
}

#design li:nth-child(4) {
    background: url('../img/linux.png') no-repeat 0;
}
/*project section*/

.project {
    margin: 40px;
    background-color: white;
    width: 400px;
    border-radius: 20px;
    text-align: center;
    border: 10px solid #B6B6B6;
    position: relative;
    padding: 25px 0 25px 0;
    /*margin-left: 100px;*/
}

.project:hover {
    border: 10px solid black;
}

.project .project-picture {
    height: 200px;
    width: 200px;
    border-color: black;
    background-color: white;
}

.project h1 {
    color: black;
    padding-bottom: 10px;
    max-width: 200px;
    width: 200px;
    margin: auto;
    white-space: normal;
}

.project p {
    color: black;
    padding: 0 30px 10px 30px;
}

.project .langTag {
    background: #F8F8F8;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    display: inline-block;
    border: 2px solid #CCC;
    min-width: initial;
    padding: 0 10px 0 10px;
    border-radius: 10px;
}

.project .banner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100px;
  /*background: red;*/
}

#contact-form {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

#contact-form label {
    padding: 10px;
    padding-left: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #212121;
}

#contact-form .input {
    box-sizing: border-box;
    margin: 10px 0 10px 0;
    width: 100%;
    border: 1px solid #212121;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #212121;
    padding: 5px;
}

#contact-form .submit {
    margin: 0;
    display: block;
    padding: 5px;
    background: white;
    color: #212121;
    border: 1px solid #212121;
    padding: 10px;
}

#contact-form .submit:hover {
    background: rgb(182, 182, 182);
}

.input::focus {
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.8);
}

#footer {
    color: white;
    height: auto;
    margin: 0;
    padding: 0;
    background: #B6B6B6;
}

#footer p {
    margin: 0;
    padding-left: 10px;
}
