/*http://www.colourlovers.com/palette/3598986/Kindergarten with #e2db5c*/
body {
  overflow: auto;
  position: relative;
  padding:0;
  margin:0;
  background: #000000; /* Old browsers */
  min-width: 900px;
  font-family: 'Montserrat', sans-serif;
  /*   background: url("https://unsplash.com/photos/58zgsq3c63g/download") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

#backgroundImage {
  z-index: -999;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.picture {
  /*background: white;*/
  position: relative;
  height: 300px;
  padding: 0;
  margin: 0 0% 0 0%;
}

.picture img {
  text-align: center;
  padding:0;
  margin:0;
}

.picture h2 {
  text-align: center;
  padding:0;
  margin:0;
}

#titlePicture {
  min-height: 600px;
  height: 100vh;
  margin: 0;
}
#titlePicture .title {
  top:100px;
}
#titlePicture .subtitle {
  top:250px;
}

header {
  position: absolute;
  background-color:rgba(255, 255, 255, 0.8);
  color: black;
  height: 50px;
  padding:0;
  margin:0;
  top: 550px;
  width: 100%;
  z-index: 1000;
  min-width: 650px;
  overflow:hidden;

  /*margin:0px 100px0 5%;*/

}
header.fix-header {
  width: 100%;
  /*background-color:rgba(255, 255, 255, 0.8);*/
  position: fixed;
  top:0;
}


.title {
  position: absolute;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  top:50px;
  color: #EE1C01;
  font-size:100px;
  font-family: 'Montserrat', sans-serif;
}

.subtitle {
  position: absolute;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);
  color: #FF8A06;
  width: 100%;
  top:350px;
  font-size:50px;
  font-family: 'Montserrat', sans-serif;
}

.headertitle {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  color: white;
  font-size:100px;
  font-family: 'Montserrat', sans-serif;
}

nav
{
  text-align:right;
  padding:15px 20px;
  margin-right:10%;
  overflow:hidden;
}
nav a
{
  font-family: 'Montserrat', sans-serif;
  font-size:25px;
  padding:15px 10px;
  color:black;
  text-decoration:none;
}
nav a:hover
{
  color:#EE1C01;
}

.section {
  color: white;
  height: auto;
  margin:0 0%0 0%;
  border-radius:0;
  font-family: 'Montserrat', sans-serif;
}

.section h1 {
  text-align: center;
  padding:0px;
  margin:0px;
}

#about {
  background: #EE1C01;
}

#skills {
  background: #FF8A06;
}

#projects {
  background: #954298;
}
#contact {
  background: #2fadd3;
  padding
  : 20px;
}

/*About Me section*/

.circle {
  height: 300px;
  width: 300px;
  border-radius: 150px;
  margin:0px auto;
  text-align: center;
  display: block;
  border-color: white;
  border-width: 5px;
  border-style: solid;
}

#about p {
  display: block;
  margin:0 auto;
  text-align: center;
  font-size: 30px;
  width: 500px;
  padding: 20px0 20px0;
}
#about p span {
  color:black;
}

/*equal spacing div, used in skills and projects*/
.container {
  text-align: center;
  margin:0 30px0 30px;
}

.container div {
  width: auto;
  display: inline-block;
  vertical-align:top;
  padding-top: 25px;
}

/*Skills section*/

.skillsList {
  text-align: left;
}

.skillsList li {
  background: no-repeat 00;
  padding-left: 60px;
  line-height: 50px;
  font-size: 30px;
  margin-top: 14px;
  list-style:none;
  /*background-size: 50px 50px; /*height set to 50px*/
}

#web{
  /*padding: 20px;*/
}

#web li:nth-child(1) {
  background: url('../img/html.png') no-repeat0;
}
#web li:nth-child(2) {
  background: url('../img/css.png') no-repeat0;
}
#web li:nth-child(3) {
  background: url('../img/javascript.png') no-repeat0;
}
#web li:nth-child(4) {
  background: url('../img/nodejs.png') no-repeat0;
}

#programming{

}

#programming li:nth-child(1) {
  background: url('../img/python.png') no-repeat0;
}
#programming li:nth-child(2) {
  background: url('../img/c++.png') no-repeat0;
}
#programming li:nth-child(3) {
  background: url('../img/java.png') no-repeat0;
}
#programming li:nth-child(4) {
  background: url('../img/arduino.png') no-repeat0;
}
#programming li:nth-child(5) {
  background: url('../img/raspi.png') no-repeat0;
}

#design {

}

#design li:nth-child(1) {
  background: url('../img/photoshop.png') no-repeat0;
}
#design li:nth-child(2) {
  background: url('../img/solidworks.png') no-repeat0;
}
#design li:nth-child(3) {
  background: url('../img/illustrator.png') no-repeat0;
}
#design li:nth-child(4) {
  background: url('../img/linux.png') no-repeat0;
}

/*project section*/

.project {
  margin: 40px;
  background-color: white;
  min-width: 400px;
  max-width: 400px;
  height: 500px;
  border-radius: 20px;
  text-align:center;
  border: 10px solid #954298;

  /*margin-left: 100px;*/

}

.project:hover {
  border: 10px solid black;
}

.project img {
  height:200px;
  width: 200px;
  border-color: black;
  background-color: white;
}

.project h1 {
  color:black;
  padding-bottom: 10px;
}

.project p {
  color: black;
  padding: 0 30px 10px 30px;
}

.project .langTag {
  background: #F8F8F8;
  margin:0 auto;
  padding: 0;
  text-align: center;
  display: inline-block;
  border: 2px solid #CCC;
  min-width: initial;
  padding:0 10px0 10px;
  border-radius: 10px;

}

#contact-form {
  text-align: left;
  margin-left: auto ;
  margin-right: auto ;
  width: 500px;

}

#contact-form label{
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
#contact-form .input {
  /*display: inline-block;*/
  /*float: left;*/
  margin: 10px 0 10px 0;
  width: 100%;
  border: 5px solid white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
#contact-form .submit {
  margin: 0;
  display:block;
  padding: 5px;
  background: white;
  border: 5px solid transparent;
}

.submit-button {
  width: 100%;
  border: 5px solid white;
  text-align: center;
}

.submit:hover {
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0);
}

.input:focus{
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.8);
}

#footer {
  color:white;
  height:auto;
  margin:0;
  padding:0;
  background: #2fadd3;

}

#footer p {
  margin:0;
  padding-left: 10px;
}
